/* Remove default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Set canvas to be a block-level element */
canvas {
    display: block;
}

#controlsExplanation {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#controls {
    margin-top: 10px;
}

#controls.hidden {
    display: none;
}

.toggle-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}
